* {
    font-family: 'Source Code Pro', monospace;
}
.bg-main {
    color: #fff;
    background: #575B59;
}
.bg-home {
    color: #fff;
    background: #9B8E7A;
}
.bg-resume {
    color: #fff;
    background: #B6B4AA;
}
.bg-work {
    color: #fff;
    background: #8E8C86;
}
.bg-contact {
    color: #fff;
    background: #C5A78D;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.contact-items {
    display: block;
}
.course-btn {
    color: #fff;
    background: #575B59;   
    outline: none;
}
.view-code-on {
    height: 4vh;
}
.mfizz-icon {
    font-size: 2.3rem;
}
#duLogo {
    height: 33px;
    width: 108px;
}
#freeCodeCampLogo {
    right: 20px;
}
#headerText {
    height: 100%
}
#main-header img {
    width: 100%;
    height: 100%;
}
#main-header .port-item {
    width: 30%;
}
#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}
#udemyLogo {
    height: 30px;
    width: 30px;
}
#ugaLogo {
    height: 33px;
    width: 103px;
}
/* Small - landscape */
@media(min-width: 576px) {
    
}
/* Medium - tablets */
@media(min-width: 768px) {
    .port-item {
        padding: 1.6em !important;
    }
}
/* Large - desktops */
@media(min-width: 992px) {
    .contact-items {
        display: inline-block;
    }
}
/* Extra large - large desktops */
@media(min-width: 1200px) {
    .port-item {
        padding-top: 3.05em !important;
        padding-bottom: 3.05em !important;
    }
}